{%extends 'tracker/base.html'%}

{%block title%}Sign Up{% endblock %}

{%block content%}
<div class="main-container">
<div class="auth-form-container">
<form method="post" action="">{%csrf_token%}


    <label for="id_username">Username:</label>
    {{form.username}}
    <label for="id_username">Password:</label>
    {{form.password1}}
    <label for="id_username">Password Confirmation:</label>
    {{form.password2}}
    <button type="submit">Register</button>
    <p>Already have an accuont? Login <a href="/login">Here</a></p>
</form>
</div>
</div>


{% endblock %}