html{
  font-family: 'Readex Pro', sans-serif;
  overflow-y:auto;
}
a{
    text-decoration: none;
    color: var(--text-color) ;
}
*{
    margin:0;
    color : var(--text-color) ;
    
}


body{
  padding-top: 90px;
 --background-color : #ffffff;
 --object-color : #f9f8f8 ;
  --text-color : #272838 ;
  --table-border-color : #dddddd;
  background-color: var(--background-color);
  
}
.table-header{
  position: sticky;
  top: 100px;
  z-index: 90;
}
body.dark{
  --background-color : #181a1b;
  --text-color : #c9c5bd;
  --object-color : #1c1e1f;
  --table-border-color : #3a3e41;
    background-color: var(--background-color);
}

nav{
  width: 100%;
  height: 90px;
    background-color: var(--object-color) ;
    display: flex;
    z-index: 100;
    position: fixed;
    margin-top: -90px;
}
.main-logo{
    width: 80px;
}

.nav-left{
  width: 80%;
  display: flex;
  align-items: center;
 
}
.nav-right{
    width: 20%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-item{
margin: 20px;

}





.home-main-container{
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
}

.interviews-container{
  width: 40%;
  height: 95%;
  background-color: var(--object-color) ;
  margin: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
}
.interviews-container h1{
  margin: 30px;
}
.total-container h1{
  margin: 50px;
}
.applied-container h1{
  margin: 30px;
}
.graph{
  margin: 40px;
  position: relative;
}
.success_rate , .score_avg{
  position: absolute;
  background-color: var(--object-color) ;
  text-align: center;
  padding-top: 15px;
  border-radius: 100px;
  border: solid 10px #EB9486;
  width: 70px;
  height: 55px;
  right: -80px;
  top: 140px;
}
.total_success_rate , .total_score_avg{
  background-color: var(--object-color) ;
  text-align: center;
  padding-top: 40px;
  border-radius: 100px;
  border: solid 20px #EB9486;
  width: 160px;
  height: 120px;
  right: -80px;
  top: -30px;
  font-size: 60px;
}

.total_score_avg{
  border: solid 20px #F3DE8A;
}

.score_avg{
  border: solid 10px #F3DE8A;
}
.applied-container{
  width: 40%;
  height: 95%;
  background-color: var(--object-color) ;
  margin: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
}
.total-container{
  width: 20%;
  height: 95%;
  background-color: var(--object-color) ;
  margin: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
}


.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.audio{
  margin: 0px 20px;

}


table {
    width: 100%;
    padding: 30px;
    table-layout: auto;
    border-spacing: 0px;
    
  }
  table th:first-child{
    border-radius:10px 0 0 10px;
  }
  
  table th:last-child{
    border-radius:0 10px 10px 0;
  }  


  td, th {
    font-size: 20px;
    text-align: center;
    padding: 8px;
  }
  th{
    white-space: nowrap;
    font-weight:lighter;
    height: 50px;
    font-size: 30px;
    color: var(--text-color);
    background-color: var(--object-color);
  }
  th span{
    transform: scale(140%);
    margin: 0px 10px;
  }
.delete , .add-button , .expand{
    transform: scale(130%);
  }
  td{
    border-bottom: var(--object-color) solid 2px;
  }
  .table-form td{
    background-color: var(--object-color);
  }
  .table-form td:first-child{
    border-radius:10px 0 0 10px;


  }
  #id_result{
    width: 100%;
    height: 40px;
  }
  input , select{
    width: 100%;
    border: none;
    border: none;
    border-bottom: var(--text-color)  2px solid;
    border-radius: 3px;
    background-color: none;
    background-color: #dddddd00;

  }
  .table-form input , .table-form textarea ,.table-form select{
    background-color: var(--background-color);
    border: none;
    font-size: 30px;
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
    height: 70%;
    border-radius: 10px;
  }
  #id_recording{

    font-size: 20px;
  }
  option{
    font-size: 20px;
  }
  
  .table-form td:last-child{
    border-radius:0 10px 10px 0;

  }  


  .form-container{
    width: 100%;
    display: flex;
  }
  .form-container input{
        border: 1px solid #dddddd;
    flex-grow: 1;
  }

  .main-container{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-container{
    background-color: var(--object-color) ;
    height: 90%;
    width: 80%;
    border-radius: 40px;
    display: flex;
  }

  .info-container-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .info-container-right{
    width: 50%;
    height: 100%;
    border-left: var(--text-color)  2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.info-transcript audio{
  margin: 20px;
}
  .info-transcript{
    background-color: var(--background-color) ;
    width:90%;
    height: 45%;
    margin: 20px;
    position: relative;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-color:var(--text-color)  #dfdfdf ;
    scrollbar-width: thin;

  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background:#dfdfdf;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--text-color) ; 
    border-radius: 10px;
  }
  .generate-icon{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 20px;
  }
  .info-suggestions{
    background-color: var(--background-color) ;
    width: 90%;
    height: 45%;
    margin: 20px;
    position: relative;
    border-radius: 30px;
    padding: 20px;
    padding-top: 50px;

  }

  .info-header{
    font-size: 70px;
    text-align: center;
    border-bottom: var(--text-color)  4px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:85px;
  }
  .info-score{
    display: flex;
    font-size: 50px;
    background-color:var(--background-color);
    border-radius: 40px 0px 0px 0px;
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 20px;
    align-items: center;
    justify-content: center;
    margin : 6px;
    left: 0px;
    top: 0px;
  }
  .info-body{
    width: 100%;
    height: calc(100% - 85px) ;
  }
  .info-date{
    width: 100%;
    height: 100px;
    font-size: 40px;
    text-align: center;
    padding: 30px 0px;
  }

  .info-result{
    width: 100%;
    height: calc(100% - 185px);
    font-size: 40px;
    text-align: center;
    padding: 30px 0px;
  }

  .graph{
    width: 500px;
  }



  .add-button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff00;
    border: none;
    
    
  }


.auth-form-container{
  
  background-color: var(--object-color) ;
  width:600px;
  height: 80%;
  padding: 40px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.signup-title , .login-title{
  text-align: center;
  font-size: 2.5vw;
  margin-bottom: 10px;
}
.signup-subtitle , .login-subtitle{
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
  padding: 0px 70px;
  filter: opacity(70%);
}
.login-subtitle{
  margin-bottom: 60px;
}

.auth-form-container label{
  margin-left: 40px;
  font-size: 15px;
  color: var(--text-color) ;
  filter:opacity(70%)
}
.auth-form-container button{
  font-size: 40px;
  color: white ;
  background-color: var(--text-color);
  border: none;
  border-radius: 20px;
 width: 400px;
 height: 90px;
 margin-top: 40px;
}
.button-con{
  display: flex;
  justify-content: center;
}
  
.auth-form-container input{
margin: 20px 0px;
height: 80px;
font-size: 30px;
border-radius: 30px;
background-color: var(--background-color);
font-family: 'Readex Pro', sans-serif;
color: var(--text-color) ;
border: none;
}
.auth-form-container button{
  font-family: 'Readex Pro', sans-serif;
  }
.color-mode-toggle{
  border: none;
  background-color: #dddddd00;
  cursor: pointer;
  border-radius: 100%;
  transition: background-color;
}

.auth-form-container p{
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

.logout{
  margin:10px;
}

.landing-main-container{
display: flex;
width: 100%;
height: calc(100vh - 90px);
overflow: hidden;

}
.landing-container-left{
height: 100%;
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
padding: 100px 0px;
padding-left: 150px;


}
.landing-container-right{
height: 100%;
width: 50%;
display: flex;
justify-content: center;
align-items: center;

}
.landing-logo{
  width: 50vw;
  height: 50vw;
}
.landing-logo-shadow{
  background-color: var(--object-color);
  width: 35vw;
  height: 35vw;
  padding: 60px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
}

.landing-title{
  color: var(--text-color);
  width: 100%;
  font-size: 4.5vw;
  margin: 10px;
}
.landing-subtitle{
  width: 100%;
  color: #606060;
  font-size: 1.5vw;
}
body.dark .landing-socials{
  margin-top: 5vh;
  border-top: solid 1px var(--table-border-color);
  width: 50%;
  display: flex;
  justify-content: space-around;
  filter: invert(99%) sepia(1%) saturate(1752%) hue-rotate(327deg) brightness(77%) contrast(106%);
  align-self: flex-start;
}
body .landing-socials{
  margin-top: 5vh;
  border-top: solid 1px var(--table-border-color);
  width: 50%;
  display: flex;
  justify-content: space-around;
  filter: invert(10%) sepia(11%) saturate(2238%) hue-rotate(198deg) brightness(96%) contrast(84%);
  align-self: flex-start;
 
}
.github-logo , .linkedin-logo ,  .youtube-logo{
  width: 50px;
  height: 50px;
  filter: brightness(0) saturate(100%);
  margin: 50px;
  
}
.youtube-logo{
  margin-top: 45px;
  height: 65px;
  width: 65px;

}
.landing-signup-button{
  margin: 60px 0px;
  align-self: flex-start;
  text-align: center;
  padding-top: 10px;
  width: 400px;
  height: 80px;
  border: none;
  border-radius: none;
  background-color: var(--object-color);
  color: var(--text-color);
  font-size: 50px;
  font-family: 'Readex Pro', sans-serif;
}

@-moz-document url-prefix() {
  body:not(.dark) audio{
    filter: brightness(0) saturate(100%);
    filter: invert(85%) sepia(100%) saturate(0%) hue-rotate(212deg) brightness(113%) contrast(100%);
  }
}

.menu{
  transform: scale(140%);
  color: var(--text-color);
  display: none;
  margin: 10px;
}
.nav-item.home{
  display: none;
}
@media screen and (max-width: 880px) {
  .info-header{
    font-size:10vw;
  }
  .info-container{
    top: 100px;
    position: absolute;
    height: auto;
    padding: 20px;
    flex-direction: column;
  }
  .info-container-left{
    width: 100%;
  }
  .info-container-right{
    width: 100%;
    border-left: none;
    border-top: var(--text-color)  2px solid;
  }
  .info-transcript{
    height: 400px;
    overflow-x: hidden;
  }
  .info-suggestions{
    height: 400px;
    overflow-x: hidden;
  }
  .home-main-container{
    flex-direction: column;
  }
  .applied-container{
    width: 80%;
    overflow: visible;
  }
  .interviews-container{
    width: 80%;
    overflow: visible;
  }
  .total-container{
    width: 80%;
    overflow: visible;
  }
  .graph{
    width: 300px;
  }
  .auth-form-container{
    margin: 20px;
    height: 90%;
    padding: 15px;
  }
  .auth-form-container button{
    height: 70px;
    width: 60vw;
    font-size: 5vw;
  }
  .auth-form-container p{
    font-size: 15px;
  }
  .auth-form-container input{
    height: 60px;
  }
  .signup-title , .login-title{
    font-size: 30px;
  }
  .signup-subtitle , .login-subtitle{
    font-size: 15px;
    padding: 0px;
  }

  .landing-container-left{
    width: 100%;
    text-align: center;
      
  }
  .landing-signup-button{
    align-self: center;
    width: 300px;
  }
  .landing-container-right{
    width: 100%;
  }


  .landing-logo{
    width: 500px;
    height: 500px;
  }
  .landing-logo-shadow{
    width:300px;
    height:300px;
  }



 body .landing-socials ,  body.dark .landing-socials{
    position: absolute;
    flex-direction: column;
    right: 0px;
    width: 50px;
    margin-top: 300px;
  
 
  }
  .social{
    transform: scale(50%);
    margin: 10px;
  }
  .social-a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
  }
  nav{
    position: fixed;
    flex-direction: column-reverse;
  }
  .nav-right , .nav-left{
    position: absolute;
    width: 100%;
    top: 0px;
  }
  .nav-left{
    top: 90px;
    flex-direction: column;
  }
  .nav-item.home{
    display: block;
  }

  .nav-left{
    display: none;
  }
  .nav-left.active{
    display: flex;
    background-color: var(--object-color);
  }
  .menu{
    display: block;
  }

.nav-right{
  justify-content: space-around;
}
.main-logo{
  display: none;
}
.nav-item{
  font-size: 30px;
}

.landing-container-left{
  padding: 0px;
}
  .landing-title{
    font-size: 50px;
    width: 100vw;
  }
  .landing-subtitle{
    font-size: 20px;
  }
  .landing-main-container{
    flex-direction: column;
  }
  
  

  
  }
  @media screen and (max-height: 930px) {
    .total_success_rate, .total_score_avg{
      width: 120px;
      padding: 20px;
    }
    .signup-title , .login-title{
      font-size: 4vh;
     
    }
    .signup-subtitle , .login-subtitle{
      font-size: 1.6vh;
      
    }
    .auth-form-container input{
      height: 7vh;

    }
    .auth-form-container button{
      height: 5vh;
      font-size: 3vh;
      
    }

  }
  .print{
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
  }
  @media print {
    nav{
      display: none;
    }
    .material-symbols-outlined{
      visibility: hidden;
    }
    input , select , textarea{
      visibility: hidden;
    }
   audio , .table-header > th:nth-child(6){
    display: none;
    }
    
  }