html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
*{
    margin:0
}
nav{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}
.main-logo{
    width: 80px;
}
.nav-right{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    list-style-type: none;
    color: white;
    font-size: 20px;
    margin: 10px;

}