html{
  font-family: 'Readex Pro', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
*{
    margin:0;
    color : #272838;
}



nav{
  width: 100%;
  height: 90px;
    background-color: #F9F8F8;
    display: flex;
}
.main-logo{
    width: 80px;
}
.user-logo{
  width: 45px;
}
.nav-left{
  width: 50%;
  display: flex;
  align-items: center;
 
}
.nav-right{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-item{
margin: 20px;

}





.home-main-container{
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
}

.interviews-container{
  width: 40%;
  height: 95%;
  background-color: #F9F8F8;
  margin: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.interviews-container h1{
  margin: 30px;
}
.total-container h1{
  margin: 50px;
}
.applied-container h1{
  margin: 30px;
}
.graph{
  margin: 40px;
  position: relative;
}
.success_rate , .score_avg{
  position: absolute;
  background-color: #F9F8F8;
  text-align: center;
  padding-top: 15px;
  border-radius: 100px;
  border: solid 10px #EB9486;
  width: 70px;
  height: 55px;
  right: -80px;
  top: 140px;
}
.total_success_rate , .total_score_avg{
  background-color: #F9F8F8;
  text-align: center;
  padding-top: 40px;
  border-radius: 100px;
  border: solid 20px #EB9486;
  width: 160px;
  height: 120px;
  right: -80px;
  top: -30px;
  font-size: 60px;
}

.total_score_avg{
  border: solid 20px #F3DE8A;
}

.score_avg{
  border: solid 10px #F3DE8A;
}
.applied-container{
  width: 40%;
  height: 95%;
  background-color: #F9F8F8;
  margin: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.total-container{
  width: 20%;
  height: 95%;
  background-color: #F9F8F8;
  margin: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}




.audio{
  margin: 0px 20px;
}
.line-info{
  position: absolute;
  right: 0px;
  top:0px;
}
.line-info-expand{
  position: absolute;
  right: 0px;
  top: 25px;
}
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    width: 20%;
    padding: 8px;
    position: relative;
  }
  
  tr:nth-child(even) {
    background-color: #f9f8f8;
  }

  .form-container{
    width: 100%;
    display: flex;
  }
  .form-container input{
        border: 1px solid #dddddd;
    flex-grow: 1;
  }

  .main-container{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-container{
    background-color: #f9f8f8;
    height: 90%;
    width: 80%;
    border-radius: 40px;
    display: flex;
  }

  .info-container-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .info-container-right{
    width: 50%;
    height: 100%;
    border-left: #272838 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.info-transcript audio{
  margin: 20px;
}
  .info-transcript{
    background-color: white;
    width:90%;
    height: 45%;
    margin: 20px;
    position: relative;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: scroll;

  }
  .generate-icon{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 20px;
  }
  .info-suggestions{
    background-color: white;
    width: 90%;
    height: 45%;
    margin: 20px;
    position: relative;
    border-radius: 30px;
    padding: 20px;
    padding-top: 50px;

  }

  .info-header{
    font-size: 70px;
    text-align: center;
    border-bottom: #272838 4px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:85px;
  }
  .info-score{
    display: flex;
    font-size: 50px;
    background-color:#f3de8a;
    border-radius: 40px 0px 0px 0px;
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 20px;
    align-items: center;
    justify-content: center;
    margin : 6px;
    left: 0px;
    top: 0px;
  }
  .info-body{
    width: 100%;
    height: calc(100% - 85px) ;
  }
  .info-date{
    width: 100%;
    height: 100px;
    font-size: 40px;
    text-align: center;
    padding: 30px 0px;
  }

  .info-result{
    width: 100%;
    height: calc(100% - 185px);
    font-size: 40px;
    text-align: center;
    padding: 30px 0px;
  }

  .graph{
    width: 500px;
  }

  #id_result{
    width: 100%;
    height: 15px;
    border: none;
    border-bottom: #272838 2px solid;
    background-color: #dddddd00;
  }
  input , select{
    width: 100%;
    border: none;
    border: none;
    border-bottom: #272838 2px solid;
    border-radius: 3px;
    background-color: none;
    background-color: #dddddd00;

  }
  .add-button{
    position: absolute;
    right: 0px;
    top: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff00;
    border: none;
    
    
  }


.auth-form-container{
  background-color: #f9f8f8;
  width:50%;
  height: 70%;
  padding: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.auth-form-container label{
  font-size: 30px;
  color: rgb(173, 173, 173);
}
.auth-form-container button{
  font-size: 30px;
  color: rgb(173, 173, 173);
 width: 100%;
 height: 70px;
 margin-top: 20%;
}
  
  