{%extends 'tracker/base.html'%}

{%block content%}



  <table summary="no_orderDate">

    <tr><th>Company</th><th>Date</th><th>Result<th>Score</th><th>Application</th><th>Recording</th></th>
    {% for row in interviews_table %}
            <tr>
              <td>{{ row.company }}</td>
              <td>{{ row.date }}</td>
              <td>{{ row.result }}</td>
              <td>{{ row.score }}</td>
              <td>{{ row.application }}</td>
              <td> 

                <audio controls class="audio">
                  <source src="{{row.recording}}" type="audio/mpeg">
                Your browser does not support the audio element.
                </audio> 
                   <a class="line-info" href="/delete-interview/{{row.id}}"><span class="material-symbols-outlined">delete</span></a>
                   <a class="line-info-expand" href="/interview/{{row.id}}"><span class="material-symbols-outlined">
                    open_in_full
                    </span></a>
                  </td>
            </tr>
    {% endfor %}

    <form method="post" action="" enctype="multipart/form-data">{%csrf_token%}
      <div class="form-container">
        <tr>
        <td>{{form.company}}</td>
      <td> {{form.date}}</td>
      <td>{{form.result}}</td>
      <td>{{form.score}}</td>
      <td >{{form.application}}</td>
      <td> {{form.recording}}<button class="add-button" type="submit"><span class="material-symbols-outlined">
        add_circle
        </span></button></td>
      </tr>
    </div>
    
    
    
    </form>
    </table>
    


{%endblock%}