{%extends 'tracker/base.html'%}

{%block content%}

<div class="main-container">

        <div class="info-container">


                    <div class="info-container-left">
                    <div class="info-header">
                      <div class="info-score">
                        {{interview.score }}
                      </div>
                      {{interview.company}}
      
                    </div>

                    <div class="info-body">
                      <div class="info-date">
                      {{interview.date}}
                    </div>
                    <div class="info-result">
                      {{interview.result}}
                    </div>

                  </div>

                    </div>
                    <div class="info-container-right">
                      <div class="info-header">
                        Transcription
                      </div>


                      <div class="info-transcript">
                        <div class="info-transcript-header">
                          <audio controls>
                            <source src="../{{interview.recording}}" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio> 
                          <a class="generate-icon" href="/transcribe/{{interview.id}}"><span class="material-symbols-outlined">
                            generating_tokens
                            </span></a>
                          </div>
                            <div class="suggestions-text">
                              {{interview.transcript}}
                            </div>
                        
                          
                        </div>
                        <div class="info-suggestions">
                          {{interview.suggestions}}
                          <a class="generate-icon" href="/suggest/{{interview.id}}"><span class="material-symbols-outlined">
                            assistant
                            </span></a>
                        </div>


                    </div>


        </div>

</div>
{%endblock%}
